* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-family: "Courier New", Courier, monospace; */
  font-family: "Poppins";
  font-size: 16px;
}

body {
  background-color: white;
}

header {
  padding: 2rem;
  /* color: rgb(0, 118, 186); */
  color: black;
  /* background-color: grey; */
}

.header {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  /* font-size: 2rem; */
}
.header i {
  font-size: 1.4rem;
}

.main-info {
  display: block;
  width: 50%;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  font-size: 1rem;
  margin: 0rem auto 0;
  /* border: 1px solid red; */
  color: black;
}
.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 1rem;
  color: black;
}
.main-info-input,
.result-input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 0.5rem;
}
form {
  border-radius: 5px;
  border: 0px solid black;
  box-shadow: 0px 0px 5px black;
  padding: 1rem;
}

.result-output {
  color: red;
  font-weight: 700;

  /* display: none; */
}
.buttons {
  display: flex;
  justify-content: space-around;
}

.main-info-button {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 0px solid black;
  box-shadow: 0px 0px 2.5px black;
  color: cadetblue;
  background-color: rgb(239, 239, 239);
}
.main-info-button:hover {
  box-shadow: 0px 0px 5px black;
  background-color: cadetblue;
  color: rgb(239, 239, 239);
  /* color: white; */
}
.payment-structure {
  width: 75%;
  margin: 0 auto;
  margin-top: 2rem;
  height: 45vh;
  overflow: scroll;
  border-radius: 5px;
  border: 0px solid wheat;
  box-shadow: 0px 0px 5px black;
  color: black;
}
#resultsTable {
  width: 90%;
  margin: 1rem auto;
}
#resultsTable input {
  width: 100%;
  font-size: 1rem;
}
td {
  padding: 0.5rem;
  /* border: 1px solid red; */
  text-align: center;
}

th {
  padding: 1rem;
}

.principle,
.monthly-interest,
.accumulated-interest {
  color: blue;
  /* border: 1px solid black; */
  border-radius: 10px;
  /* box-shadow: 0px 0px 2.5px black; */
  text-align: center;
  padding: 0.25rem;
}
.date,
.payment,
.interest-rate {
  border-radius: 5px;
  border: 0px solid black;
  box-shadow: 0px 0px 2.5px black;
  text-align: center;
  padding: 0.25rem;
}

.addNewRow button {
  font-size: 2.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0px solid black;
  box-shadow: 0px 0px 2.5px black;
  margin: 1rem 0 0 1rem;
  background-color: rgb(239, 239, 239);
  color: cadetblue;
  /* display: none; */
}
.addNewRow button:hover {
  box-shadow: 0px 0px 5px black;
  background-color: cadetblue;
  color: rgb(239, 239, 239);
}

footer {
  display: block;
  text-align: center;
  padding: 1rem;
  color: black;
  margin-top: 1rem;
}
